.tile[data-value="2"], .tile[data-value="4"] {
	color: #827364;
}

.tile[data-value="2"] {
	background: #dfd9d2;
}

.tile[data-value="2"]::before {
	content: "2";
}

.tile[data-value="4"] {
	background: #d5cfc2;
}

.tile[data-value="4"]::before {
	content: "4";
}

.tile[data-value="8"] {
	background: #dba43d;
}

.tile[data-value="8"]::before {
	content: "8";
}

.tile[data-value="16"] {
	background: #c08b28;
}

.tile[data-value="16"]::before {
	content: "16";
}

.tile[data-value="32"] {
	background: #c56336;
}

.tile[data-value="32"]::before {
	content: "32";
}

.tile[data-value="64"] {
	background: #ac4a1d;
}

.tile[data-value="64"]::before {
	content: "64";
}

.tile[data-value="128"] {
	background: #e4d86d;
}

.tile[data-value="128"]::before {
	content: "128";
}

.tile[data-value="256"] {
	background: #e2d244;
}

.tile[data-value="256"]::before {
	content: "256";
}

.tile[data-value="512"] {
	background: #d1c237;
}

.tile[data-value="512"]::before {
	content: "512";
}

.tile[data-value="1024"] {
	background: #e0d041;
}

.tile[data-value="1024"]::before {
	content: "1024";
}

.tile[data-value="2048"] {
	background: #e9d736;
}

.tile[data-value="2048"]::before {
	content: "2048";
}

.tile[data-value="4096"] {
	background: #2c2c2c;
}

.tile[data-value="4096"]::before {
	content: "4096";
}

.tile[data-value="8192"] {
	background: #2c2c2c;
}

.tile[data-value="8192"]::before {
	content: "8192";
}

.tile[data-value="16384"] {
	background: #2c2c2c;
}

.tile[data-value="16384"]::before {
	content: "16384";
	font-size: 38px;
}

.tile[data-value="32768"] {
	background: #2c2c2c;
}

.tile[data-value="32768"]::before {
	content: "32768";
	font-size: 38px;
}

.tile[data-value="65536"] {
	background: #2c2c2c;
}

.tile[data-value="65536"]::before {
	content: "65536";
	font-size: 38px;
}

.tile[data-value="131072"] {
	background: #2c2c2c;
}

.tile[data-value="131072"]::before {
	content: "131072";
	font-size: 38px;
}